# Ignore test and train images in local
local_data/

# Ignore virtual environment files  
venv/  

# Ignore files generated during model training or as outputs  
artifacts/data_ingestion
artifacts/data_transformation
artifacts/model 

# Ignore callback ( final model and checkpoint files created during training )
callbacks/checkpoints/  
callbacks/final_model/  

# Ignore log files  
logs/  

# Ignore files storing prediction outputs  
predict_artifacts/  

# Ignore directories where experiment results are stored  
results/  

